<div class ="greenStroke" id="map"></div><br><br>
<p class=" middleCopy">Please feel free to use the Fruit Cart Finder to find healthy snacks all over your city. If you'd like to take part in the fruit finding fun, sign up for a free account. When you sign up, you can add your favorite fruit carts to the map for other fruit lovers to discover. Stop unhealthy snacking in it's tracks. Become a Fruit Finder today!</p>


