<h3 class="tcenter">Welcome <%=@user.name.capitalize%>'s Fruit Cart Page</h3>



<div id="map"></div>


<form action="/carts" method="post">

 <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>"/>

 <label>
   Description
   <input type="text" name="Description"/>
 </label>

 <label>
   Closest Address
   <input type="text" name="Address"/>
 </label>

 <label>
   City
   <input type="integer" name="City"/>
 </label>

  <label>
   State
   <input type="integer" name="State"/>
 </label>
  <label>
   Zip
   <input type="integer" name="Zip"/>
 </label>

 <button>Save</button>
</form>