<h1 class="tcenter">Welcome to <%=@user.name.capitalize%>'s Fruit Cart Page</h1>



<div class ="greenStroke" id="map"></div>
<br><br>

<div class="middleCopy">
  <!-- <form action="/carts/create" method="POST"> -->
  <form class="pure-form"action="/users/<%=@user.id%>/carts" method="POST">
   <!-- <input name="_method" type="hidden" value="patch" /> -->
   <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>"/>

   <label>
     Description
     <input type="text" name="description"/>
   </label>

   <label>
     Closest Address
     <input type="text" name="address"/>
   </label>

   <label>
     City
     <input type="text" name="city"/>
   </label>

    <input type="hidden" name = "user_id" value= "<%=@user.id%>" />

   <button>Save</button>
  </form>
</div>